<button (click)="undo()">Undo</button>
<button (click)="redo()">Redo</button>
<!-- <div *ngFor="let color of colors">
  {{ color }}
</div> -->

<span>{{ currentPaletteSpace }}</span>
<span>{{ currentGamut }}</span>

<div class="flex flex-col gap-2">
  <input type="text" placeholder="Source" [(ngModel)]="newPalette.source" />
  <button (click)="addPalette()">Add Color</button>
</div>

<div *ngIf="palettes.length > 0">
  <h2>Colors</h2>
  <ul>
    <li
      *ngFor="let color of palettes; let i = index"
      class="flex justify-between"
    >
      <div class="tex-black">
        {{ i }}
        {{ color.source }}
      </div>
      <button (click)="removePalette(i)" class="text-black border rounded">
        <div class="aspect-square w-4">x</div>
      </button>
    </li>
  </ul>
</div>
